<div class="row center">
  <div class="col s12 m6 l4">
    <div class="card black">
      <div class="card-content white-text">
        <span class="card-title">Sign up</span>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="input-field">
            <%= f.email_field :email, autofocus: true, class: "validate", placeholder: "E-mail" %>
          </div>

          <div class="input-field">
            <%= f.password_field :password, autocomplete: "off", class: "validate", placeholder: "Password (8 characters minimum)" %>
          </div>

          <div class="input-field">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "validate", placeholder: "Password confirmation" %>
          </div>

          <div class="actions">
            <%= f.submit "Sign up", class: "btn" %>
          </div>
        <% end %>
        <div class="card-action">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
