<%= form_for @pin, html: { multipart: true } do |f| %>
  <% if @pin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

      <ul>
      <% @pin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field file-field">
    <div class="btn">
      <span>Picture</span>
      <%= f.file_field :image %>
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text">
    </div>
  </div>
  <div class="input-field">
    <%= f.text_field :description, placeholder:"Description", class: "materialize-textarea" %>
  </div>

  <div class="row">
    <div class="col s6">
      <h6>Lab</h6>
      <% Tag.place.order(:name).all.each do |tag| %>
        <p>
          <%= f.check_box :tag_list, { :multiple => true }, tag.name.downcase, nil %>
          <%= f.label "tag_list_#{tag.name.downcase}".parameterize.underscore, tag.name.downcase %>
        </p>
      <% end %>
    </div>
    <div class="col s6">
      <h6>Machine(s)</h6>
      <% Tag.machine.order(:name).all.each do |tag| %>
        <p>
          <%= f.check_box :tag_list, { :multiple => true }, tag.name.downcase, nil %>
          <%= f.label "tag_list_#{tag.name.downcase}".parameterize.underscore, tag.name.downcase %>
        </p>
      <% end %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit class: "btn", value: "Submit" %>
  </div>
<% end %>
