<div class="box card white pin-card-sm">

  <%= link_to image_tag(pin.image.url(image_size)), pin %>
  <div class="card-content">
    <h5><%= pin.title %></h5>
    <p>by <%= link_to pin.user do %>
      <%= pin.user.name if pin.user %>
      <% end %></p>
  </div>

  <div class="card-action card-options">
    <div class="row">
      <div class="col s3 center-align">
        <%= render 'pins/like_button', pin: pin %>
      </div>

      <div class="col s3 center-align">
        <%= render 'pins/comment_button', pin: pin %>
      </div>

      <% if pin.user == current_user %>
        <div class="col s3 center-align">
          <%= link_to edit_pin_path(pin) do %>
            <i class="material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Edit">create</i>
          <% end %>
        </div>
      <% end %>

      <% if pin.user == current_user %>
        <div class="col s3 center-align">
          <%= link_to pin, method: :delete, data: { confirm: 'Are you sure you want to delete project?' } do %>
            <i class="material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Delete">clear</i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <% if pin.tag_list.any? %>
    <div class="card-action">
      <div class="row">
        <div class="col s12">
          <div class="pin-tags">
            <% pin.tag_list.each do |tag| %>
              <%= link_to tag_path(tag), :class => "chip pin-tag btn" do %>
                <%= tag %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>
