<div class="box card white">

  <%= link_to image_tag(pin.image.url(:medium)), pin %>
  <div class="card-content">
    <p class="flow-text"><%= pin.description.downcase %></p>
    <p>by: <%= pin.user.name if pin.user %></p>
  </div>
  <div class="card-action">

    <div class="row center-align">
      <div class="col s4">
        <%= render 'like_button', pin: pin %>
      </div>

      <div class="col s8">
        <% if pin.user == current_user %>
          <div class="actions">
            <%= link_to edit_pin_path(pin) do %>
              <i class="material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Edit">create</i>
            <% end %>
            <%= link_to pin, method: :delete, data: { confirm: 'Are you sure you want to delete project?' } do %>
              <i class="material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Delete">clear</i>
            <% end %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
