<div class="container">
  <%= link_to 'Go Back', pins_path %>

  <div class="card white pin-card-lg">
    <div class="card-content black-text">
      <div class="card-title">
        <%= image_tag @pin.image.url(:large) %>
      </div>

      <h5><%= @pin.title %></h5>
      <div class="divider"></div>
      <h6><strong>Description:</strong></h6>
      <%= @pin.description %>
      <p><strong>By:</strong>
        <%= link_to @pin.user do %>
          <%= @pin.user.name if @pin.user %>
        <% end %>
      </p>
      <div class="divider"></div>

      <%= render 'like_button', pin: @pin %>

      <% if @pin.tag_list.any? %>
        <div class="row">
          <div class="col s12">
            <div class="pin-tags">
              <% @pin.tag_list.each do |tag| %>
                <%= link_to tag_path(tag), :class => "chip pin-tag btn" do %>
                  <%= tag %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

      <div class="row">
        <div class="col s1 offset-s11">
          <% if @pin.user == current_user %>
            <%= link_to edit_pin_path(@pin) do %>
              <i class="material-icons">create</i> Edit
            <% end %>
          <% end %>
        </div>
      </div>

      <%= form_for [@pin, @pin.activities.build] do |f| %>

        <div class="input-field">
          <%= f.text_field :body, placeholder:"Type your comments here!", class: "materialize-textarea" %>
        </div>

        <div class="actions">
          <%= f.hidden_field :type, value: "comment" %>
          <%= f.submit class: "btn", value: "submit" %>
        </div>
      <% end %>

      <% @pin.activities.includes(:user).order("created_at DESC").each do |activity| %>
        <% if activity.comment? %>
          <p>
            <%= activity.user.name %>: <%= activity.body %> [<%= activity.created_at.to_formatted_s(:long) %>]
          </p>
        <% else %>
          <p>
            <%= activity.user.name %> liked this. [<%= activity.created_at.to_formatted_s(:long) %>]
          </p>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
