<div class="container">
  <%= link_to 'Go Back', pins_path %>

<div class="card white">
  <div class="card-content black-text">
    <span class="card-title centered">
      <%= image_tag @pin.image.url(:large) %>
    </span>
      <h5><%= @pin.description %></h5>
      <p>By:
        <%= mail_to @pin.user.email do %>
        <%= @pin.user.name if @pin.user %>
      <% end %></p>

          <%= render 'like_button', pin: @pin %>

      <div class="row">
        <div class="col s12">
          <h7>Tags: </h7>
          <%= @pin.tag_list %>
        </div>
      </div>
      <div class="row">
        <div class="col s1 offset-s11">
          <% if @pin.user == current_user %>
            <%= link_to edit_pin_path(@pin) do %>
              <i class="material-icons">create</i> Edit
            <% end %>
          <% end %>
        </div>
      </div>

      <%= form_for [@pin, @pin.activities.build] do |f| %>

        <div class="input-field">
          <%= f.text_field :body, placeholder:"Type your comments here!", class: "materialize-textarea" %>
        </div>

        <div class="actions">
          <%= f.hidden_field :type, value: "comment" %>
          <%= f.submit class: "btn", value: "submit" %>
        </div>
      <% end %>

      <% @pin.activities.includes(:user).order("created_at DESC").each do |activity| %>
        <% if activity.comment? %>
          <p>
            <%= activity.user.name %>: <%= activity.body %> [<%= activity.created_at.to_formatted_s(:long) %>]
          </p>
        <% else %>
          <p>
            <%= activity.user.name %> liked this. [<%= activity.created_at.to_formatted_s(:long) %>]
          </p>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
