<div class="container">
  <div class="card white pin-card-lg">
    <div class="card-content black-text">
      <div class="row">
        <div class="col s12 m5 l5">
          <div class="card-title center">
            <!-- TODO: make this a carousel with all the uploaded images? -->
            <!--   If we do it, you'd probably want to be able to change the order of images -->
            <!-- Alternatively, add the ability to promote one attachment to 'Card Banner' -->
            <%= image_tag @pin.image.url(:large) %>
          </div>
        </div>

        <div class="col s12 m7 l7">
          <div class="row">
            <div class="col s12">
              <h4><%= @pin.title.upcase %></h4>
              <%= render 'pins/like_button', pin: @pin %>

              <p>By
                <%= link_to @pin.user do %>
                  <%= @pin.user.name if @pin.user %>
                <% end %>
              </p>

              <h6><strong>INSTRUCTIONS</strong></h6>
              <%= simple_format(@pin.description) %>
            </div>
          </div>

          <% if @pin.tag_list.any? %>
            <div class="pin-tags">
              <% @pin.tag_list.each do |tag| %>
                <%= link_to tag_path(tag), :class => "chip pin-tag btn" do %>
                  <%= tag %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="pin-card-uploads" data-pin-id="<%= @pin.id %>">
        <%= render "uploads/block", :uploads => @pin.uploads.order("created_at DESC") %>
      </div>

      <div class="row">
        <div class="col s12">
          <div class="divider"></div>
          <h5>Add a comment</h5>
          <%= form_for [@pin, @pin.activities.build] do |f| %>

            <div class="input-field">
              <%= f.text_field :body, placeholder:"Type your comments here!", class: "materialize-textarea" %>
            </div>

            <div class="actions">
              <%= f.hidden_field :type, value: "comment" %>
              <%= f.submit class: "btn", value: "submit" %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <% @pin.activities.includes(:user).order("created_at DESC").each do |activity| %>
            <% if activity.comment? %>
              <p>
                <%= activity.user.name %>: <%= activity.body %> [<%= activity.created_at.to_formatted_s(:long) %>]
              </p>
            <% else %>
              <p>
                <%= activity.user.name %> liked this. [<%= activity.created_at.to_formatted_s(:long) %>]
              </p>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="pin-edit">
        <% if @pin.user == current_user %>
          <%= link_to edit_pin_path(@pin) do %>
            <i class="material-icons">create</i> Edit
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>
