<div class="row center">
  <div class="col s12 m6 l4">
    <div class="card black">
      <div class="card-content white-text">
        <span class="card-title">Log in</span>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="input-field">
              <%= f.email_field :email, autofocus: true, class: "validate", placeholder: "E-mail" %>
            </div>

            <div class="input-field">
              <%= f.password_field :password, autocomplete: "off", class: "validate", placeholder: "Password" %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me, class: "white-text" %>
              </div>
            <% end -%>

            <div class="actions">
              <%= f.submit "Log in", class: "btn" %>
            </div>
          <% end %>

        <div class="card-action">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
